@import '../../styles/variables.scss';

.gradient {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  border: double 2px transparent;
  background-image: linear-gradient(white, white), radial-gradient(circle at bottom left, #74edf2 0%, #5156e6 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.gradient-sm {
  width: 40px;
  height: 40px;
  border-radius: 12px;
}
.gradient-md {
  width: 64px;
  height: 64px;
  border-radius: 16px;
}
.gradient-lg {
  width: 88px;
  height: 88px;
  border-radius: 24px;
}

.icon {
  border: 0.5px solid #c9cad1;
}

.icon-sm {
  height: 40px;
  width: 40px;
  border-radius: 12px;
}

.icon-md {
  height: 64px;
  width: 64px;
  border-radius: 16px;
}

.icon-lg {
  height: 88px;
  width: 88px;
  border-radius: 24px;
}

.icon-sm-gradient {
  height: 32px;
  width: 32px;
  border-radius: 8px;
  filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.5));
}

.icon-md-gradient {
  height: 56px;
  width: 56px;
  border-radius: 12px;
  filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.5));
}

.icon-lg-gradient {
  height: 80px;
  width: 80px;
  border-radius: 20px;
  filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.5));
}
