$primary-color: #000000;
$secondary-color: #c9cad1;
$text-color: #808080;
$bg-color: #fafbfc;
$accent-color: #0087ff;
$gradient: linear-gradient(45deg, #74edf2 0%, #5156e6 100%);
$success-color: #01dc31;
$error-color: #fb766e;
