@import '../../styles/variables.scss';

.link {
  padding: 10px 24px;
  border: 0.5px solid $secondary-color;
  border-radius: 12px;
  background-color: transparent;
  font-size: 12px;
  color: $text-color;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  &:hover {
    color: $primary-color;
    border-color: $primary-color;
  }
}

.logo {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 800;
  font-style: italic;
  color: $primary-color;
}
