.mask {
  padding-left: 32px;
  margin-left: -32px;
  mask: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 8%,
    rgba(255, 255, 255, 1) 70%,
    rgba(255, 255, 255, 0) 98%
  );
}

.list {
  padding-left: 32px;
  margin-left: -32px;
  display: flex;
  gap: 16px;
  overflow: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
  scrollbar-width: none;
  // &::after {
  //   content: '';
  //   position: fixed;
  // background: linear-gradient(
  //   90deg,
  //   rgba(255, 255, 255, 1) 0%,
  //   rgba(255, 255, 255, 0) 8%,
  //   rgba(255, 255, 255, 0) 70%,
  //   rgba(255, 255, 255, 1) 98%
  // );
  //   background-attachment: fixed;
  //   z-index: 10;
  //   right: 0;
  //   left: 0;
  // @media (min-width: 375px) {
  //   height: 40px;
  //   top: 88px;
  //   width: 100%;
  // }

  // @media (min-width: 592px) {
  //   width: 560px;
  //   left: calc(50% - 16px);
  //   transform: translateX(-50%);
  // }

  // @media (min-width: 1024px) {
  //   width: 593px;
  //   height: 64px;
  //   top: 136px;
  // }
}

.item {
  position: relative;
  z-index: 10;
}
